.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
#itemPerPage{
  margin-bottom: 25px;
}

.PokeList-item {
  text-transform: capitalize;;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
button.PokeList-item.list-group-item{
  text-align: center;
}

.Aligner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item{
  max-width: 50%;
}
#contained-modal-title{
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

.modal-footer{
  text-align: center;
}